# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
uploads/notes.txt
uploads/config.txt
uploads/welcome.txt

# Environments
.venv/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db
